<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="AssemblyString" value="UT.EmailV20.dll" />
    <add key="TypeString" value="UT.EmailV20.EmailHelper" />-->

    <!--<add key="AssemblyString" value="02Email.dll" />
    <add key="TypeString" value="_02Email.dll.Email" />-->

    <!--<add key="AssemblyString" value="02WeChat.dll" />-->
    <add key="AssemblyString" value="02WeChat" />
    
    <!--这里的value值为命名空间+类名-->
    <add key="TypeString" value="_02WeChat.WeChat" />
  </appSettings>
</configuration>